
$principalColor: #000;
$principalColorHover: hsl(0, 40%, 15%);
$secondaryColor: #595959;
$tertiaryColor: #4C4C4C;

$colorWhite: #fff;
$lightPrincipalColor: #EFEFEF;
$lightSecondaryColor: #E2E2E2;
$darkColor: #333;