

.general__header {
   margin-bottom: 2rem;
}

.label__title {
   font-size: 1.2rem;
   font-weight: 500;
}

.label__title, .label__info {
   display: inline-block;
}

.label__select {
   display: inline-block;
   margin-right: 2rem;
   margin-top: 2rem;

   select {
      width: 16rem;
   }
}

.detail__total {
   text-align: center;
}
.table__total {
   margin-top: 2rem;
}